:root{
    --primary-color: rgb(0, 143, 238);
    --primary-color-dark: rgb(14, 73, 112);
}

*{
    box-sizing: border-box;
    outline: 0;

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'open sans', sans-serif;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background-color: var(--primary-color);
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
    height: 45px;
    cursor: pointer;
}

form button:hover{
    background: var(--primary-color-dark);
    transition: 1000ms;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px; /* espaçamento interno */
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  tr:hover {
    background-color: #f5f5f5; /* cor de fundo ao passar o mouse */
  }

  .paragrafo-resultado-correct{
    background: rgb(21, 214, 21);
    padding: 10px 20px;
  }

  .paragrafo-resultado-incorrect{
    background: rgba(255, 96, 75, 0.808);
    padding: 10px 20px;
  }